*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    width: 100px;
    height: 100px;
    background-color: black;
    color: antiquewhite;
    text-align: center;
    padding-top: 40px;
    border-radius: 50%;
    font-size: 1.25rem;
}